<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,114}</string>
                <key>spriteSourceSize</key>
                <string>{100,114}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,100}</string>
                <key>spriteSourceSize</key>
                <string>{61,100}</string>
                <key>textureRect</key>
                <string>{{103,1},{61,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>items.png</string>
            <key>size</key>
            <string>{165,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97eae4eed315014cc8a6b046ccb50991:4fe60957a5a519364e2b1e8b01032e31:9b2c40378ce3448cae3ca053079d3001$</string>
            <key>textureFileName</key>
            <string>items.png</string>
        </dict>
    </dict>
</plist>
